.card {
  width: 80vw;
  height: 20rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.card__icon {
  flex: 0 0 28%;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}

.card__icon svg {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: -1rem;
  right: 0;
}

.card__details {
  background-color: var(--card);
  position: relative;
  z-index: 2;
  flex: 1;
  border-radius: 2rem;
  padding: 2.5rem;
  margin-top: -1.6rem;
  display: flex;
  flex-direction: column;
}

.card__details:hover {
  background-color: hsl(235, 46%, 30%);;
}

.card__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__heading {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
}

.card__icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
}

.card__icon-box svg {
  width: 2.5rem;
  height: 1rem;
}

.svg-icon:hover {
  fill:#fff;
}


.card__time {
  margin-top:-1.25rem;
  color: var(--report-for-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__time--current {
  font-weight: 100;
  color: #fff;
  font-size: 3.25rem;
}
.card__time--previous {
  font-size: 1.5rem;
  font-weight: 100;
}
